{% load static %}
<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="{% static '/css/font.css' %}">
    <link rel="stylesheet" href="{% static '/css/xadmin.css' %}">
    <script src="{% static '/lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static '/js/xadmin.js' %}"></script>
    <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5" id="search">
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="ccname" placeholder="请输入中文名" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="sreach" onclick="member_search()"><i
                                    class="layui-icon">&#xe615;</i></button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除
                    </button>
                    <button class="layui-btn" onclick="xadmin.open('添加用户','/member_add',600,400)"><i
                            class="layui-icon"></i>添加
                    </button>
                </div>
                <div class="layui-card-body layui-table-body layui-table-main">
                    <table class="layui-table layui-form">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" lay-filter="checkall" name="" lay-skin="primary">
                            </th>
                            <th>ID</th>
                            <th>系统ID</th>
                            <th>中文名</th>
                            <th>英文名</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in list %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="id" value="1" lay-skin="primary">
                                </td>
                                <td id="id">{{ i.id }}</td>
                                <td>{{ i.sql_id }}</td>
                                <td>{{ i.cnname }}</td>
                                <td>{{ i.enname }}</td>
                                <td class="td-manage">
                                    <a title="编辑" onclick="xadmin.open('编辑','/member_edit/{{ i.id }}',500,400)"
                                       href="javascript:;">
                                        <button type="button" class="layui-btn"><i class="layui-icon"></i></button>
                                    </a>
                                    <a title="删除" onclick="member_del(this,{{ i.id }})" href="javascript:;">
                                        <button type="button" class="layui-btn layui-btn-danger"><i
                                                class="layui-icon"></i></button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['laydate', 'form'], function () {
        var laydate = layui.laydate;
        var form = layui.form;


        // 监听全选
        form.on('checkbox(checkall)', function (data) {

            if (data.elem.checked) {
                $('tbody input').prop('checked', true);
            } else {
                $('tbody input').prop('checked', false);
            }
            form.render('checkbox');
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });


    });

    /*用户-搜索*/
    function member_search() {
        keyword = $('#search div input').val();
        $.ajax({
            url: '/member_search/',
            type: "POST",
            data: {"cnname": keyword},
            success: function (data) {
                layer.msg("搜索完成", {icon: 1});
            },
            error: function (jqXHR, textStatus, err) {
                console.log(arguments);
            },

            complete: function (jqXHR, textStatus) {
                console.log(textStatus);
            },

            statusCode: {
                '403': function (jqXHR, textStatus, err) {
                    console.log(arguments);
                },

                '400': function (jqXHR, textStatus, err) {
                    console.log(arguments);
                }
            }
        })
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据

            $.ajax({
                url: '/member_del/',
                type: "POST",
                data: {"id": id},
                success: function (data) {
                    console.log(data);
                    layer.msg('已删除!', {icon: 1, time: 1000});
                    xadmin.close();
                    // 可以对父窗口进行刷新
                    xadmin.father_reload();
                },
                error: function (jqXHR, textStatus, err) {
                    console.log(arguments);
                },

                complete: function (jqXHR, textStatus) {
                    console.log(textStatus);
                },

                statusCode: {
                    '403': function (jqXHR, textStatus, err) {
                        console.log(arguments);
                    },

                    '400': function (jqXHR, textStatus, err) {
                        console.log(arguments);
                    }
                }
            })
        });
    }


    function delAll(argument) {
        var ids = [];

        // 获取选中的id 
        $('tbody input').each(function (index, el) {
            if ($(this).prop('checked')) {
                ids.push($(this).val())
            }

        });

        layer.confirm('确认要删除吗？' + ids.toString(), function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
            $(".layui-form-checked").not('.header').parents('tr').remove();
            console.log(ids);
        });
    }
</script>
</html>